src/
pkg/

*pkg.tar.xz
*pkg.tar.xz.sig
*src.tar.gz

*~

alchemy/Alchemy-*.tar.gz
cower/cower-*.tar.gz*
dfc/dfc-*.tar.gz
dnsenum/dnsenum*.tar.gz
flacon/flacon-*.tgz
flamerobin/flamerobin-*-src.tar.gz
hydra/hydra-*.tar.gz
isync-git/isync
jitsi/jitsi-src-*-build.*.zip
jupiter/jupiter-*.noarch.rpm
k9copy/k9copy-*.tar.gz
kdeplasma-addons-applets-veromix/*_veromix.plasmoid
kwooty/kwooty-*.tar.gz
leselys-git/leselys
libegl-wayland/LICENSE
libegl-wayland/MesaLib-*.tar.bz2
libre/re-*.tar.gz
lua51-event/luaevent-*.tar.gz
magicpoint-snapshot/mgp-snap-*.tar.gz
magicpoint/magicpoint-*.tar.gz
makepasswd/makepasswd_*.orig.tar.gz
mdk3/mdk3-*.tar.bz2
metasploit/framework-*.tar.bz2
mozilla-firefox-sync-server-hg/server-full
multipath-tools-git/multipath-tools-git
nepomukshell-git/nepomukshell
netexpect-*.tar.bz2
nmapsi4/nmapsi4-*.tar.xz
ocsync/ocsync-*.tar.bz2
otf-source-sans-pro/SourceSansPro_FontsOnly-*.zip
owncloud-client/mirall-*.tar.bz2
owncloud/owncloud-*.tar.bz2
pass/password-store-*.tar.xz
p0f/p0f-*.tgz
package-query/package-query-*.tar.gz
papi/papi-*.tar.gz
paros/paros-*-unix.zip
perl-net-netmask/Net-Netmask-*.tar.gz
perl-xml-dom/XML-DOM-*.tar.gz
proot/proot-*.tar.gz
python-bcrypt/py-bcrypt-0.2.tar.gz
python2-amqp/amqp-*.tar.gz
python2-anyjson/anyjson-*.tar.gz
python2-billiard/billiard-*.tar.gz
python2-celery/celery-*.tar.gz
python2-docopt/LICENSE-MIT
python2-docopt/docopt-*.tar.gz
python2-itsdangerous/itsdangerous-*.tar.gz
python2-kombu/kombu-*.tar.gz
python2-slip/python-slip-*.tar.bz2
quazip/quazip-*.tar.gz
qxmpp/qxmpp-*.tar.gz
razor-qt/razorqt-*.tar.bz2
restund/restund-*.tar.gz
ruby-bundler/bundler-*.gem
ruby-msgpack/msgpack-*.gem
ruby-pg/pg-*.gem
scapy/scapy-*.tar.gz
sunvox/sunvox-*.zip
ttf-source-sans-pro/SourceSansPro_FontsOnly-*.zip
tuned-git/tuned
twisted-web2/TwistedWeb2-*.tar.bz2
universalindentgui/universalindentgui-*.tar.gz
urlview/urlview_*.gz
virt-what/virt-what-*.tar.gz
volatility/volatility-*.tar.gz
wireshark-editor/wireshark-*.tar.bz2
wt-lite/wt-*.tar.gz
yaourt/yaourt-*.tar.gz

