src/
pkg/

*pkg.tar.xz
*pkg.tar.xz.sig
*src.tar.gz

*~

alchemy/Alchemy-*.tar.gz
cower/cower-*.tar.gz*
dfc/dfc-*.tar.gz
dnsenum/dnsenum*.tar.gz
flacon/flacon-*.tgz
flamerobin/flamerobin-*-src.tar.gz
gitolite-git/gitolite-git
hydra/hydra-*.tar.gz
isync-git/isync-git
k9copy/k9copy-*.tar.gz
kdeplasma-addons-applets-veromix/*_veromix.plasmoid
kdeplasma-applets-plasma-nm-git/plasma-nm
kwooty/kwooty-*.tar.gz
leselys-git/leselys
libgcj/libgcj14_*_amd64.deb
libmm-qt-git/libmm-qt
libnm-qt-git/libnm-qt
libre/re-*.tar.gz
lua51-event/luaevent-*.tar.gz
magicpoint-snapshot/mgp-snap-*.tar.gz
magicpoint/magicpoint-*.tar.gz
mdk3/mdk3-*.tar.bz2
mozilla-firefox-sync-server-hg/mozilla-firefox-sync-server-hg/
multipath-tools-git/multipath-tools-git
netexpect-*.tar.bz2
nmapsi4/nmapsi4-*.tar.xz
ocsync/ocsync-*.tar.bz2
owncloud-client/mirall-*.tar.bz2
owncloud/owncloud-*.tar.bz2
p0f/p0f-*.tgz
papi/papi-*.tar.gz
paros/paros-*-unix.zip
pass/password-store-*.tar.xz
pdftk-bin/pdftk_*_amd64.deb
perl-net-netmask/Net-Netmask-*.tar.gz
perl-xml-dom/XML-DOM-*.tar.gz
proot/proot-*.tar.gz
python-bcrypt/py-bcrypt-0.2.tar.gz
python2-amqp/amqp-*.tar.gz
python2-anyjson/anyjson-*.tar.gz
python2-billiard/billiard-*.tar.gz
python2-celery/celery-*.tar.gz
python2-docopt/LICENSE-MIT
python2-docopt/docopt-*.tar.gz
python2-itsdangerous/itsdangerous-*.tar.gz
python2-kombu/kombu-*.tar.gz
python2-slip/python-slip-*.tar.bz2
quazip/quazip-*.tar.gz
qxmpp/qxmpp-*.tar.gz
restund/restund-*.tar.gz
ruby-bundler/bundler-*.gem
ruby-msgpack/msgpack-*.gem
ruby-pg/pg-*.gem
scapy/scapy-*.tar.gz
sunvox/sunvox-*.zip
tuned-git/tuned-git
twisted-web2/TwistedWeb2-*.tar.bz2
universalindentgui/universalindentgui-*.tar.gz
urlview/urlview_*.gz
virt-what/virt-what-*.tar.gz*
volatility/volatility-*.tar.gz
wt-lite/wt-*.tar.gz

