src/
pkg/

*pkg.tar.xz
*pkg.tar.xz.sig

*~

dfc/dfc-*.tar.gz
flamerobin/flamerobin-*-src.tar.gz
glances/glances-*.tar.gz
hydra/hydra-*-src.tar.gz
lxc/lxc-*.tar.gz
magicpoint-snapshot/mgp-snap-*.tar.gz
magicpoint/magicpoint-*.tar.gz
makepasswd/makepasswd_*.orig.tar.gz
nmapsi4/nmapsi4-*.tar.bz2
p0f/p0f-*.tgz
package-query/package-query-*.tar.gz
paros/paros-*-unix.zip
perl-xml-dom/XML-DOM-*.tar.gz
proot/proot-*.tar.gz
rng-tools/rng-tools-*.tar.gz
scapy/scapy-*.tar.gz
sunvox/sunvox-*.zip
traceroute-for-linux/traceroute-*.tar.gz
twisted-web2/TwistedWeb2-*.tar.bz2
volatility/volatility-*.tar.gz
yaourt/yaourt-*.tar.gz

